body {
    background-color: #E8F9FF;
    font-family: Tahoma, sans-serif;
    margin: 50px 50px;
    text-align: center;
    list-style-position: inside;
    color: #1D1616;
}

h1 {
    font-size: 42px;
}

img {
    margin: 0 auto;
}

p, li {
    font-size: 20px;
} 